#one {
    background-image: url("/img/designs/flowers.jpg");
    background-size: cover;
}

#two {
    background-image: url("/img/designs/forest.jpg");
    background-size: cover;
}

#three {
    background-image: url("/img/designs/gradient.jpg");
    background-size: cover;
}

#four {
    background-image: url("/img/designs/headphones.jpg");
    background-size: cover;
}

#five {
    background-image: url("/img/designs/astronaut.jpg");
    background-size: cover;
}

#six {
    background-image: url("/img/designs/water.jpg");
    background-size: cover;
}

#seven {
    background-image: url("/img/designs/plant.jpg");
    background-size: cover;
}

#eight {
    background-image: url("/img/designs/pride.jpg");
    background-size: cover;
}

#nine {
    background-image: url("/img/designs/wood.jpg");
    background-size: cover;
}

#ten {
    background-image: url("/img/designs/black-hole.jpg");
    background-size: cover;
}

#eleven {
    background-image: url("/img/designs/dog.jpg");
    background-size: cover;
}

#twelve {
    background-image: url("/img/designs/mountain.jpg");
    background-size: cover;
}
#thirteen {
    background-color: crimson;
}

#fourteen {
    background-color:gold;
}

#fifteen {
    background-color: #f70fe8;
}

#sixteen {
    background-color:#2EE59D;
}

#seventeen {
    background-color: orange;
}

#eighteen {
    background-color:blueviolet
}

#nineteen {
    background-color: blue;
}

#twenty {
    background-color: aqua;
    
}

#twentyone {
    background-color: grey;
}

#twentytwo {
    background-color: #000;
}


