@import "layout.css";

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

/*Header*/
#header-container {    
    border-right: 1px solid #000;
    background-color: #fff;
}

.header-name {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2em;
    padding: 2%;
    text-align: center;
}

nav > a {
    font-size: 1.5em;
    line-height: 2em;
    text-decoration: none;
    color: #000;
}

nav > a:hover {
    color: #1674ea;
    border-bottom: 1px solid #1674ea;
}
/*Projects section */
.lang {
    padding: 5px;
    color: #1674ea;
    border: 2px solid #1674ea;
    border-radius: 5px;
}

.github-repository {
    color: #1674ea;
    text-decoration: none;
    font-weight: 500;
}

.github-repository:hover {
    color: #0a2657;
}

.project-image {
    border: 12px solid #444;
    border-radius: 5px;
    outline: 1px solid #6d6d6f; 
}

.project-name,
.project-name:visited,
.project-name:hover {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}

/*About Me section*/
#about-me-container {
    background-color: #fff;
}

.section-title {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2.5em;
    margin: auto;
}

#white-title {
    color: #fff;
}

#white-title > span {
    border-bottom: 2px solid #fff;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.section-title > span {
    padding-bottom: 0.2em;
    border-bottom: 2px solid #000;
    color: #000;
    font-family: 'Playfair Display', serif;
}

.about-me {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em;
}

.about-me > a:active,
.about-me > a {
    font-weight: 600;
    color: #1674ea;
    text-decoration: none;
}

.about-me > a:hover {
    color: #0a2657;
}

/*Testimonials Section */
#testimonials-container {
    padding: 5%;
    background-color: #fff;
}

figcaption {
    color: #fff;
    text-align: center;
}

quote {
    font-size: 1.2em;
    line-height: 1.5em;
}

.testimonial-author {
    font-size: 1em;
    color:#1674ea;
}

.testimonial-author-photo {
    display: block;
    margin: auto;
    border: 2px solid #6d6d6f;
    box-shadow: 5px #000;
    border-radius: 50%;
    padding: 0px 12px;
}

/*Footer */
#footer-container {
    color: white;
    background-color: #000;
}

.icon-descriptor {
    font-size: 1.2em;
}

.icon-descriptor > a {
    color: white;
    text-decoration: none;
}